body{
    background-color: #265A73;
}

/*
Logo de la empresa:
- Altura y ancho del logo
- Margen superior para el logo
- Borde redondeado del logo
*/
.logo {
    height: 80px;
    width: 150px;
    margin-bottom: -20px;
    border-radius: 25px;
}

/*
Menú de navegación y lista:
- Estilo de visualización horizontal
- Ancho de los elementos de lista
- Relleno de los elementos de lista
- Alineación del texto en los elementos de lista
- Bordes redondeados en los elementos de lista
- Tamaño de fuente en los elementos de lista
- Fuente y peso de fuente en los elementos de lista
*/
.divMenu li {
    display: inline-block;
    width: 12%;
    text-align: center;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/*
Formato de hipervínculo (utilizado en menú y botones):
- Elimina el subrayado predeterminado
- Color de texto predeterminado
*/
a {
    text-decoration: none;
    color: white;
}

/*
Barra de menú:
- Posición fija
- Ancho completo
- Color de fondo
- Altura
- Margen izquierdo
*/
.divMenu {
    width: 100%;
    background-color: #265A73;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*
Secciones CONTAINERS, con margen interior, color de fondo, tamaño de fuente y color de fuente
*/
#divPrincipal {
    padding: 20px;
    background-color: #87ABC2;
    font-size: 20px;
    color: white;
}

#divServicios {
    padding: 20px;
    background-color: #D5EBF0;
    font-size: 18px;
    color: #3A3636;
}

#divUbicaciones {
    padding: 20px;
    background-color: #D5EBF0;
    font-size: 18px;
    color: #3A3636;
}

#divUbicaciones {
    padding: 20px;
    background-color: #D5EBF0;
    font-size: 18px;
    color: #3A3636;
}

#divNosotros {
    padding: 20px;
    background-color: #D5EBF0;
    font-size: 18px;
    color: #3A3636;
}

#divDoctores{
    padding: 20px;
    background-color: #D5EBF0;
    font-size: 18px;
    color: #3A3636;
    display: grid;
    place-items: center;
}

#divContacto{
    padding: 20px;
    background-color: #D5EBF0;
    font-size: 18px;
    color: #3A3636;
    display: grid;
    place-items: center;
}

/* Formato de titulos y subtitulos centrados */
.h1Principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.h2Secundario {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
}

/*
Formato de botones:
- Color de fondo
- Borde desactivado
- Margen interior
- Bordes redondeados
- Fuente en negrita
- Margen superior
- Tamaño de fuente
*/
button {
    background-color: #223635;
    color: white;
    border: none;
    padding: 18px 30px 18px 30px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
}

/*
Imágenes:
- Estilo de las imágenes principal y secundaria
- Diferencia en la orientación (izquierda / derecha)
- Altura y ancho de las imágenes
- Borde redondeado de las imágenes
- Alineación a la derecha o izquierda de las imágenes
- Margen exterior derecho e izquierdo de las imágenes
*/
#imgInicio {
    height: 400px;
    width: 350px;
    border-radius: 25px;
}

/* Imágenes para la sección de Doctores */
.imgDocs {
    height: 300px;
    width: 200px;
    border-radius: 45px;
}

/* Nombre del Doctor en la sección de Doctores */
.nomDoc {
    text-align: center;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


/*La siguiente media query alinea los divs al centro en dimensiones pequeñas*/
@media(max-width: 767px){
    div{
       display: grid;
       place-items: center;
    }

}